<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929517867534-l2qak8ia9tnt89o8o66pip2c6v85gk82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929517867534-l2qak8ia9tnt89o8o66pip2c6v85gk82</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>929517867534-c43vvomrnh143d8sl7v6d5dfup9ncfad.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWMTra59tJ-WZXsDqvaTI2P5_n8YOvdio</string>
	<key>GCM_SENDER_ID</key>
	<string>929517867534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.smartbin</string>
	<key>PROJECT_ID</key>
	<string>smartbin-69f4c</string>
	<key>STORAGE_BUCKET</key>
	<string>smartbin-69f4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929517867534:ios:a38f5e49c9aeb45eab625f</string>
	<key>DATABASE_URL</key>
	<string>https://smartbin-69f4c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>